body {
	background-color: blue;
}

h1	{
	font-size: 100px;
	margin-left: 22%;
	color: blue	;
}

.first-container {

	background-color: blue;

}

.carey {
	margin-left: 479px;
	width: 250px;

}

p {
	background-color: 
}

.text {
	font-family: "ALK Life", sans-serif;

}

.navbar {
	background-color: white;
}

.row {
	    margin-top: 30px;

}
