h1	{
	font-size: 100px;
	margin-left: 22%;
	color: blue	;
}

.first-container {

	background-color: blue;

}

.carey {
	margin-left: 479px;
	width: 250px;

}

p {
	background-color: 
}

.text {
	font-family: "ALK Life", sans-serif;

}

.row {
	    margin-top: 30px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;

}

li {
  float: left;
}

nav {
	display: inline-block;
}

header	{
	background-image: url(https://png.pngtree.com/element_origin_min_pic/16/07/15/165788a4c98c431.jpg);
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}





body, html {
    height: 100%;
    background-color: white;
    	background-image: url(https://png.pngtree.com/element_origin_min_pic/16/07/15/165788a4c98c431.jpg);

}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  /* Set a specific height */
  height: 70%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  padding-top: 30px;
  padding-right: 65%;
  
}


.container {
	margin-top: 50px;
	margin-bottom: 30px;

}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 3px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}


.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.5); }

